* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    background: url(https://i.imgur.com/tPMRmNY.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100 vh;

}

.title {
    padding: 50px 0 50px 0;
}



.container {
    background-color: rgba(255, 255, 255, 0.564);
    border: none;
    border-radius: 10px;
    position: center;
    margin: 100px;
    padding: 50px;
    overflow: hidden;
    text-align: left;
}


#values {
    display: none;
}

#death {
    display: none;
}

#newCat {
    margin-left: 5px;
}
#scores {
    font-weight: bold;
}


#age1 {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
}
   /*Got this from ww3 code  */
@keyframes myfirst {
0%   {left:0px; top:0px;}
25%  {left:200px; top:0px;}
50%  {left:200px; top:200px;}
75%  {left:0px; top:200px;}
100% {left:0px; top:0px;}

}


#title {
    color: #000;
    text-align: center;
}



